
form {
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #222222;
    width: fit-content;
    margin: auto;
    padding: 10px;
text-align: center;
}

form p{
    margin-bottom: 8px;
}

input{
    margin: 10px 5px 10px 0;
}

span{
    margin-right: 10px;
}
/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}


